<% layout('/layouts/boilerplate') -%>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Edit Review</h3>
                <form method="post"  action="/listings/<%=listing.id %>/reviews/<%= review.id %>?_method=PUT" class="needs-validation" novalidate>
                    <div class="mt-4">
                        <label for="rating" class="form-label">Rating</label>
                    <!-- for starability-basic -->
                    <fieldset class="starability-slot">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" data-rating=<%= review.rating %> value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" data-rating=<%= review.rating %> value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" data-rating=<%= review.rating %> value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" data-rating=<%= review.rating %> value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" data-rating=<%= review.rating %> value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating] " data-rating=<%= review.rating %> value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
                    </div>
                    <div class="mt-3">
                        <label for="comment" class="form-label">Comment</label>
                        <textarea name="review[comment]" id="comment" class="form-control"><%= review.comment %></textarea>
                    </div>

                    <div class="mt-3 mb-5">
                        <button class="btn editBtn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</body>
