<% layout('/layouts/boilerplate') -%>
    <div class="row">
        <div class="col-md-8 offset-md-2">
        </div>

        <div class="card col-6 mt-4">
            <h3>
                <%= listing.title %>
            </h3>
            <img class="card-img-top show-img" src="<%= listing.image %>" alt="Card image cap"
                style="border-radius: 1rem;">
            <div class="card-body">
                <p class="card-text">
                    <b><i>Owned by:-<%= listing.owner.username %></i></b>
                </p>

                <p class="card-text">&#8377;<%= listing.price.toLocaleString("en-IN") %>
                </p>
                <p class="card-text">
                    <%=listing.description %>
                </p>
                <p class="card-text">
                    <%= listing.location %>
                </p>
                <p class="card-text">
                    <%= listing.country %>
                </p>
            </div>


            <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
                <div class="col-1 btns mb-3 mt-3">
                    <a href="/listings/<%= listing._id %>/edit" class="btn edit-btn  offset-2"> Edit</a>
                    <form method="post" action="/listings/<%= listing.id %>?_method=DELETE">
                        <button class="btn btn-dark offset-4">Delete</button>
                    </form>
                </div>
                <% } %>

        </div>
    </div>

    <div class="col-6 mt-4">
        <% if(currUser) { %>

            <h4>Leave a Review</h4>
            <form method="post" action="/listings/<%= listing.id %>/reviews" novalidate class="needs-validation">
                <div class="mt-4">
                    <label for="rating" class="form-label">Rating</label>
                <!-- for starability-basic -->
                <fieldset class="starability-slot">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating] " value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
                </div>

                <div class="mt-4">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea name="review[comment]" class="form-control" id="comment" required></textarea>
                    <div class="invalid-feedback">**please fill the comment </div>
                </div>
                <div class="mt-4 mb-3">
                    <button>Submit</button>
                </div>
            </form>
            <% } %>
    </div>


    <div class="row">
        <% for(let review of listing.reviews) { %>
            <div class="card reviewcard col-md-4 mb-3">
                <div class="card-body">
                    <div class="card-title"><i>@<%= review.author.username %></i></div>
                    <div class="card-text">
                        <p class="starability-result" data-rating=<%= review.rating %>></p>
                    </div>
                    <div class="card-text">
                        <%= review.comment %>
                    </div>
                  
                     
                    <div>
                        <a href="/listings/<%= listing.id %>/reviews/<%= review.id %>/edit" class="btn editBtn">Edit</a>
                    </div>

                    <form method="post" action="/listings/<%= listing.id %>/reviews/<%= review.id %>?_method=DELETE">
                        <button class="btn btn-dark mt-2">Delete</button>
                    </form>
                </div>
            </div>
            <% } %>
    </div>

    <script src="/js/script.js"></script>